/*  
  I certify that the CSS file I am submitting is all my own work.  
  None of it is copied from any source or any person.  
  Signed: Dawn Duerre.  
  Date: 11/08/2023 
*/ 
/* 
  Author: Dawn Duerre 
  Date: 11/08/2023 
  Class: CSC135 
  Project: Project Part 3 
  File Name: scripts.css 
  Description: Create a product page for Tuscan Treasures using the Grid Layout 
*/ 
/* Add references if applicable */ 
/* Styling for whole document -- add comments throughout your file */